* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.title {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(100, 100, 150);
    background-color: rgb(245, 245, 255);
    padding: 18px;
    border-bottom: solid 2px rgb(100, 100, 150);
    height: 20px;
}

.title>h1,
.title>h2 {
    text-align: center;
}

.title>h2 {
    display: none;
}

.title:hover h2 {
    display: block;
}

.title:hover {
    height: 100px;
    transition: all 0.3s;
}

.theme {
    width: 60%;
    display: flex;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    justify-content: center;
    padding: 20px;
}

.theme h3 {
    padding: 6px 20px;
}

.theme span {
    padding: 6px 20px;
}

.theme input {
    padding: 6px 20px;
    margin-right: 10px;
}

#colortheme {
    padding: 2px
}

.data {
    margin-top: 15px
}

.content {
    background-color: rgb(200, 200, 250);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-left: 8px;
    padding-top: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content>h1 {
    padding: 10px;
}

.lista {
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 15px;
}

.adicionar_item {
    margin: 4px auto;
    display: flex;
    width: 60%;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 5 px;
    box-shadow: 1px 1px 5px black
}

.adicionar_item>div {
    width: 80%;
    text-align: center;
}

.adicionar_item>input {
    margin: 0 8px;
    float: left;
}

.adicionar_item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: rgb(104, 151, 139);
    color: rgb(36, 36, 36);
}

.adicionar_new-item {
    display: flex;
    background-color: rgba(206, 206, 255, 0.904);
    width: 60%;
    height: 40px;
    justify-content: space-evenly;
    padding: 5px;
    box-shadow: 1px 1px 5px black;
    margin: 10px;
    font: inherit;
}

.adicionar_new-item>input {
    background-color: rgb(255, 255, 255, 1);
    border: 1px solid black;
    width: 80%;
    outline: none;
    font: inherit;
    text-align: center;
}

.adicionar_new-item>input::placeholder {
    font-style: italic;
    font-weight: normal;
    text-align: center;
    color: rgb(180, 180, 180)
}

footer {
    display: flex;
    border-top: 2px solid rgb(100, 100, 150);
    height: 30px;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer span {
    color: rgb(100, 100, 150);
}